.THIS {
    background: white;
}

.THIS .MainBody .SearchContact {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.THIS .MainBody .Contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
}